    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">E-Cart</a>
          <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="login">  <button type="button" class="btn btn-primary" *ngIf="shoppingInfoService.logout">Logout</button></a></li>
            <li><a routerLink="login">  <button type="button" class="btn btn-primary" *ngIf="shoppingInfoService.login">Login</button></a></li>
            <li><a routerLink="signup">  <button type="button" class="btn btn-primary" *ngIf="shoppingInfoService.signup">Signup</button></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <app-login></app-login> -->
       <router-outlet></router-outlet>  
  